@CHARSET "UTF-8";


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
	.main-container{
		height:200px; 
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
		.main-container{
		height:800px; 
	}
	
	.left-div-height{
		height:430px;
	}
	
	.middel-div-height{
		height:455px;
	}
	
	.right-div-height{
		height:445px;
	}
	
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
		.main-container{
		height:600px; 
	}
	
	.left-div-height{
		height:430px;
	}
	
	.middel-div-height{
		height:455px;
	}
	
	.right-div-height{
		height:445px;
	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
	.main-container{
		height:400px;
	}
	
	.left-div-height{
		height:330px;
	}
	
	.middel-div-height{
		height:300px;
	}
	
	.right-div-height{
		height:345px;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
	.main-container{
		height:600px; 
	}
	
	.left-div-height{
		height:450px;
	}
	
	.middel-div-height{
		height:450px;
	}
	
	.right-div-height{
		height:450px;
	}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}